  <div class="row">
    <div class="col-md-4" style="padding-left:20px">
      <h3>Filter the movie by genre</h3>
        <%= link_to 'All', url_for %><br />
        <% @genre_names.each do |genre| %><td>
          <%= link_to genre.name, url_for(genre: genre.name) %><br />
      <% end %>
    </div>