<h1>Examples of charts</h1>

<h2>Number of movies by genre</h2>
<div class="row">
		<%= pie_chart @genre_and_movie_count %>
</div>

<h2>Number of user wishes per month</h2>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<%= line_chart @month_and_wishes %>
	</div>
</div>

<h2>Number of ratings per month</h2>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<%= column_chart @month_and_ratings %>
	</div>
</div>
